@media (min-width: 801px) {
}
@media (min-width: 601px) {
  .article_background_img{
    position: absolute !important;
    right: 30px;
    top: 20px;
    height: 130px;
    width: 300px;
  }
  .article_title{
    width: calc(100% - 330px);
  }
  /* .textIntroduction_ul {
    width: calc(100% - 150px);
    padding-right: 10px;
  } */
}
@media (min-width: 1100px) {
  .textIntroduction_ul {
    /* width: 400px; */
    width: calc(100% - 200px);
    padding-right: 10px;
  }
  .Home_body {
    box-sizing: border-box;
    /* max-width: 1200px; */
    width: 1200px;
    margin: 5px auto;
  }
  .list_li {
    height: 200px;
  }
  .list_div{
    min-width: 692px;
  }
  .el_card_el_image {
    width: 200px;
    height: 128px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .writing_header {
    width: 800px;
    display: flex;
    box-sizing: border-box;
    margin: auto;
  }
  .writing_header_left,
  .writing_header_right {
    width: 50%;
  }
  .writing_body {
    padding-left: 5px;
    box-sizing: border-box;
    margin: auto;
  }
}
