.article_div {
  box-sizing: border-box;
  padding: 5px;
}
.article_background {
  padding: 20px 30px;
  background-color: #ffffffef;
  margin-bottom: 10px;
  position: relative;
}
.article_title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 30px;
}
.article_category {
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 10px;
}
.article_date {
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 10px;
}
.article_synopsis {
  font-weight: normal;
  margin-bottom: 30px;
  display: flex;
}
.article_synopsis_first {
  font-size: 12px;
  width: 65px;
}
.article_synopsis_second{
  /* max-width: 500px; */
  /* min-width: 250px; */
  width: calc(100% - 65px);
}
.article_date_bottom{
  font-weight: normal;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: right;
}
.article_comment_header{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e3e3e3;
}


.article_comment_writing{
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e3e3e3;
}
.article_comment_writing_header,
.article_comment_writing_body,
.article_comment_writing_footer{
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
.article_comment_writing_footer{
  text-align: right;
}
.comment_right_footer>.el-link>*{
  font-size: 12px;
}
.comment_right_body{
  margin: 5px 0px;
}





.article_comment_ul{
  list-style: none;
}
.article_comment_li_master,.article_comment_li_commented{
  display: flex;
  margin-bottom: 10px;
}
.article_comment_li{
  margin-bottom: 30px;
}
.article_comment_li_master_left{
  width: 50px;
}

.article_comment_li_commented{
  margin-left: 20px;
  padding-left: 10px;
  border-left: 1px solid #e3e3e3e3;
}
.comment_ul_commented{
  list-style: none;
}