.positionSticky:nth-last-child(1){
  position: sticky;
  top: 20px;
}


.aside_el_aside{
  height: 100%;
  padding: 0px 30px 5px 0px;
  /* position: sticky !important; */
  z-index: 3;
  top: 0;
}
.aside_div {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 25px;
  overflow: visible !important;
  min-height: 600px;
}
.about {
  box-sizing: border-box;
  width: 100%;
  height: 400px;
  position: relative;
  background-color: rgb(246, 246, 246);
  margin-bottom: 20px;
  /* 不知道为什么不生效 因为el-aside组件设置了overflow */
  /* position: sticky; */
  /* top: 20px; */
}
.about_background_1 {
  width: 100%;
  height: 110px;
  box-sizing: border-box;
  position: absolute;
  top: 0px;

  background-image: linear-gradient(
      to top,
      rgba(246, 246, 246, 1),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url(../../static/cloud.gif);
  background-size: contain;
}
.about_background_2 {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  z-index: 1;

  background-image: linear-gradient(
      to bottom,
      rgba(246, 246, 246, 1),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    ),
    url(../../static/cat.gif);
  background-size: contain;
}
.headPortrait_div {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  position: absolute;
  bottom: 40px;
  z-index: 2;
  display: flex;
}
.headPortrait {
  width: 80px;
  height: 80px;
  border: 5px solid #e8e8e8;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: white;
  /* cursor: pointer; */
}
.theheadPortrait {
  width: 150px;
  height: 70px;
  background-image: url(../../static/dog.gif);
  background-size: contain;
  position: relative;
  right: 12px;
}
.webdog {
  color: #696969;
  width: 105px;
  height: 100%;
  font-size: 32px;
  font-weight: 600;
  line-height: 100px;
}
.webdog_left {
  text-align: right;
}
.webdog_right {
  text-align: left;
}
.saying {
  text-align: center;
  color: #878d99;
  font-size: 500;
  position: absolute;
  bottom: 150px;
}
.social_div {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 110px;
  color: #878d99;
}
.line {
  height: 1px;
  background-color: #e8e8e8;
  margin: 10px 20px;
}
.social{
  width: 100%;
  height: 50px;
  display: flex;
}
.social_text{
  width: 50px;
  height: 50px;
  text-align: right;
}
.social_ul{
  width: 200px;
  display: flex;
  list-style: none;
  margin-left: 25px;
}
.social_li{
  width: 50px;
  height: 50px;
  /* cursor: pointer; */
}










.Aside_btn{
  position: fixed;
  right: -20px;
  top: 300px;
}
.Aside_btn:hover{
  right: -10px;
}
/* .Aside_small_width_div{
} */
.aside_el_drawer > div > div {
  min-width: 300px;
  max-width: 300px;
  overflow: overlay;
}
.el-drawer__body::-webkit-scrollbar {
  width: 0;
}
.aside_el_drawer > div > div >section{
  margin-top: -100px;
}


.markdown-mdCatalog{
  padding: 20px 20px;
  /* position: sticky; */
  /* top: 20px; */
  /* min-height: 400px; */
  background-color: #ffffff;
}
.markdown-mdCatalog>h3{
  font-size: 20px;
  text-align: center;
  color: lightslategray;
  margin-bottom: 20px;
}
.markdown-mdCatalog a{
  text-decoration:none;
  color: lightslategray;
  font-weight: 500;
}
.markdown-mdCatalog >ul{
  padding: 10px;
}
.markdown-mdCatalog ul{
  padding: 0 0 5px 10px;
}
.markdown-mdCatalog li{
  list-style: none;
  margin-bottom: 5px;
}

.markdown-mdCatalog-div{
  overflow: overlay;
  max-height: 95vh;
}

.markdown-mdCatalog-div::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.markdown-mdCatalog-div::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  background-color: lightcyan;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
.markdown-mdCatalog-div::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
  border-radius: 10px;
}