
/* 默认css */
/* @import url('./major/MD.css'); */
@import url('./major/aboutMe.css');
@import url('./major/search.css');
@import url('./major/articleClassify.css');
@import url('./major/article.css');
@import url('./major/writing.css');
@import url('./major/manager.css');
@import url('./major/aside.css');
@import url('./major/list.css');
@import url('./major/footer.css');
@import url('./major//header.css');
@import url('./major/home.css');


/* 响应式css */
@import url('./media/maxWidth.css');
@import url('./media/minWidth.css');


/* 鼠标样式 */
body{
  cursor:url(./cursor/1/Default.png),auto;
}
textarea ,input ,.v-note-edit.divarea-wrapper {
  cursor:url(./cursor/1/IBeam.png),auto !important;
}
svg ,.el-page-header__left ,.el-menu-item ,.op-icon ,.el-upload-dragger ,button ,a ,.articleManage_search ,.userManage_search ,.headPortrait ,.social_li ,.list_li ,.manager_icon ,.theheadPortrait ,.el-tabs__item ,.is-top ,.el-card__body ,.el-backtop ,.btn-next ,.el-pager li, .el-pager{
  cursor:url(./cursor/1/Link.png),auto !important;
}